@import "mixin";
@import "variables";
@import "header";
@import "main";
@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Black.ttf);
  src: url(../font/Poppins-Light.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-color: $addbgcolor-y;
}

.transform1 {
  transform: translateX(5.5vw);
}

.transform2 {
  transform: translateX(6vw);
}

.transform3 {
  transform: translateX(-1vw);
}
