footer {
  padding: 20vw 2vw;
  background-color: $mainbgcolor-b;
  @include min($lg) {
    padding: 10vw 2vw;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include min(700px) {
      flex-direction: row;
      justify-content: space-around;
    }
    picture img {
      max-width: 100%;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      margin-top: 10vw;
      @include min(700px) {
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 1;
      }
      @include min($xl) {
        justify-content: space-around;
      }
      .list {
        @include font($font, "normal", 300);
        font-size: 6vw;
        color: $maincolor-w;
        margin-bottom: 10vw;
        @include min(700px) {
          font-size: 3vw;
        }
        @include min($xl) {
          font-size: 1.5vw;
        }
        .capt {
          color: $addcolor-y;
          margin-bottom: 5vw;
          @include min(700px) {
            margin-bottom: 2vw;
          }
        }
        p {
          margin-bottom: 3vw;
          @include min(700px) {
            margin-bottom: 2vw;
          }
          a {
            text-decoration: none;
            color: $maincolor-w;
          }
          a:hover {
            color: $maincolor-w;
            animation-name: opacityf;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
            @keyframes opacityf {
              from {
                opacity: 1;
                color: $maincolor-w;
              }
              to {
                opacity: 0.4;
                color: $addcolor-y;
              }
            }
          }
        }
        p:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
