@mixin font($family: "Poppins", $style, $weight) {
  font-family: $family;
  font-style: $style;
  font-weight: $weight;
}

@mixin min($bp) {
  @media screen and (min-width: $bp) {
    @content;
  }
}

@mixin max($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}
