$main-tcolor: #000000;

$additional-tcolor: #ffffff;

$additional-bgc: #ff6336;

$additional-bgc-hover: #df6c4d;

$default-hover: #535353;

$additional-hover: #d6d6d6;

// Breakpoints
$sm: 576px;
$md: 768px;
// lg	≥992px
$xl: 1200px;
