@import "_variables";
@import "_mixins";
@import "header";
@import "site-main";
@import "footer";

// Common settings
* {
  box-sizing: border-box;
}

body {
  margin: 35px 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}

.fix {
  margin-bottom: 250px;
  @include max(575px) {
    margin-bottom: 50px;
  }
  @include min($sm) {
    margin-bottom: 75px;
  }
  @include min($md) {
    margin-bottom: 100px;
  }
}

.fix1 {
  margin-left: 60px;
  @include max($md) {
    margin-left: 0;
  }
}

.fix2 {
  margin-bottom: 100px;
  @include max($sm) {
    margin-bottom: 50px;
  }
}

.fix3 {
  margin-bottom: 50px;
}

.size-fix {
  padding-right: 61px;
  > a:hover {
    color: $default-hover;
  }
  @include max($xl) {
    padding-right: 0;
  }
}

.size-fix1 {
  margin-bottom: 30px;
  @include max($xl) {
    margin-bottom: 10px;
  }
}

.size-fix2 {
  padding-top: 120px;
}

.refact {
  width: 50%;
  @include max(575px) {
    width: 100%;
  }
  @include max($xl) {
    width: 100%;
  }
}

.refact1 {
  max-width: 100%;
}

.ffix {
  width: 100%;
}

.none {
  display: inherit;
  @include max(575px) {
    display: none;
  }
  @include max($xl) {
    display: none;
  }
}

.none1 {
  @include max($md) {
    display: none;
  }
}

.align {
  @include max($md) {
    text-align: center;
  }
}
