@keyframes banner {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200px);
  }
}
.top_banner {
  background-color: #000000;
  padding: 15px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.top_banner p {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
  animation-name: banner;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media screen and (max-width: 768px) {
  .top_banner p {
    font-size: 0.75rem;
    line-height: 7px;
    padding: 7px 0;
    font-weight: 900;
  }
}
@media screen and (max-width: 576px) {
  .top_banner p {
    font-size: 0.7rem;
    line-height: 5px;
    padding: 5px 0;
    font-weight: 900;
  }
}

.menu {
  height: 25vh;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.menu .logo_wrap {
  align-self: center;
  width: 20%;
}
@media screen and (min-width: 768px) {
  .menu .logo_wrap {
    width: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .menu .logo_wrap {
    width: 12%;
  }
}
.menu .logo_wrap img {
  max-width: 100%;
}
.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.menu nav div {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
}
@media screen and (max-width: 576px) {
  .menu nav div {
    font-size: 0.9rem;
    line-height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .menu nav div {
    font-weight: 900;
  }
}
.menu nav div a {
  text-decoration: none;
  color: #000000;
}
.menu nav div a:hover {
  color: #ffffff;
  animation-name: opacity;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes opacity {
  from {
    opacity: 1;
    color: #ffffff;
  }
  to {
    opacity: 0.4;
    color: #000000;
  }
}
@media screen and (min-width: 768px) {
  .menu nav {
    flex-direction: row;
    justify-content: space-around;
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .menu nav {
    flex-basis: 45%;
  }
}
.menu .btn {
  box-shadow: 0px 11px 22px rgba(0, 0, 0, 0.22);
  border-radius: 12px;
  align-self: center;
  box-sizing: border-box;
  height: 7vh;
  width: 20%;
  background-color: #000000;
  display: table;
}
@media screen and (min-width: 768px) {
  .menu .btn {
    width: 15%;
  }
}
@media screen and (min-width: 1200px) {
  .menu .btn {
    width: 12%;
  }
}
@media screen and (max-width: 576px) {
  .menu .btn {
    height: 5vh;
    width: 20%;
  }
}
.menu .btn a {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 18px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
}
@media screen and (max-width: 576px) {
  .menu .btn a {
    font-size: 0.9rem;
    line-height: 13px;
  }
}
.menu .btn a:hover {
  color: #ffffff;
  animation-name: opacitybg;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes opacitybg {
  from {
    opacity: 1;
    background-color: #000000;
    border-radius: 12px;
    color: #ffffff;
  }
  to {
    opacity: 0.4;
    background-color: #ffffff;
    border-radius: 12px;
    color: #000000;
  }
}

.hero_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.hero_section .hero_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .hero_section {
    margin-top: 100px;
  }
}

.text1 {
  align-items: center;
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  color: #ffffff;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .text1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .text1 {
    font-size: 35px;
    line-height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .text1 {
    font-size: 3rem;
  }
}

.text2, .black_section .second_section .text4 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 3rem;
}
@media screen and (min-width: 768px) {
  .text2, .black_section .second_section .text4 {
    font-size: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .text2, .black_section .second_section .text4 {
    font-size: 115px;
    line-height: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .text2, .black_section .second_section .text4 {
    font-size: 8rem;
    line-height: 120px;
  }
}

.hero_image {
  margin-top: -20px;
}
.hero_image img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .hero_image {
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero_image {
    margin-top: -40px;
  }
}

.black_section {
  background-color: #000000;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  padding-top: 100px;
}
@media screen and (min-width: 992px) {
  .black_section {
    border-top-left-radius: 126px;
    border-top-right-radius: 126px;
    padding-top: 200px;
  }
}
.black_section .first_section {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.black_section .first_section .text1 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 4vw;
  line-height: 11vw;
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  .black_section .first_section .text1 {
    line-height: 12vw;
  }
}
@media screen and (min-width: 768px) {
  .black_section .first_section .text1 {
    line-height: 13vw;
  }
}
.black_section .first_section .text2, .black_section .first_section .second_section .text4, .black_section .second_section .first_section .text4 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 13vw;
  line-height: 10px;
  text-transform: uppercase;
  color: #fdcf09;
}
.black_section .first_section .text3 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 7.2vw;
  line-height: 14vw;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 576px) {
  .black_section .first_section .text3 {
    line-height: 15vw;
  }
}
@media screen and (min-width: 768px) {
  .black_section .first_section .text3 {
    line-height: 16vw;
  }
}
.black_section .first_section .text4 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #ffffff;
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 6vw;
  line-height: 94%;
  text-transform: uppercase;
  align-self: center;
}
.black_section .first_section .text4 span {
  color: #fdcf09;
}
@media screen and (min-width: 992px) {
  .black_section .first_section .text4 {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}
.black_section .first_section .text5 {
  background-color: #fdcf09;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0;
}
.black_section .first_section .text5 .image img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .black_section .first_section .text5 {
    flex-direction: row;
    justify-content: space-around;
    padding: 1vw;
    align-items: center;
  }
}
.black_section .second_section {
  width: 50vw;
  margin: 10vw auto 0;
  display: flex;
  flex-direction: column;
}
.black_section .second_section .text1 {
  display: flex;
  justify-content: center;
}
.black_section .second_section .text1 .text1l {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 8vw;
  line-height: 20px;
  text-transform: uppercase;
  color: #fdcf09;
}
.black_section .second_section .text1 .text1r {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 3.5vw;
  line-height: 3vw;
  text-transform: uppercase;
  width: 10%;
}
.black_section .second_section .text2, .black_section .second_section .text4 {
  margin-top: 3vw;
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 2vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.black_section .second_section .text3 {
  display: flex;
  margin-top: 7vw;
  justify-content: center;
}
.black_section .second_section .text3 .text3l {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 3vw;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  display: flex;
  align-items: flex-end;
}
.black_section .second_section .text3 .text3r {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 8vw;
  text-transform: uppercase;
  color: #fdcf09;
  margin-left: 0.5vw;
}
.black_section .third_section {
  width: 95vw;
  margin: 15vw auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.black_section .third_section .text1 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 5vw;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  justify-content: center;
}
.black_section .third_section .text1 span {
  color: #fdcf09;
  margin-left: 1vw;
}
.black_section .third_section .wrapper {
  display: flex;
  margin-top: 5vw;
}
.black_section .third_section .wrapper .text2-2 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  display: flex;
  height: fit-content;
  white-space: nowrap;
  align-self: center;
}
.black_section .third_section .wrapper .text3-3 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 1vw;
  text-transform: uppercase;
  color: #ffffff;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  display: flex;
}
.black_section .third_section .wrapper .image {
  margin-left: 1vw;
}
.black_section .third_section .wrapper .image img {
  max-width: 100%;
}
.black_section .third_section .wrapper .image .txt {
  display: flex;
  justify-content: space-evenly;
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 1vw;
  text-transform: uppercase;
  color: #ffffff;
}
.black_section .third_section .wrapper .text4-4 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  height: fit-content;
  white-space: nowrap;
  align-self: center;
}
.black_section .fourth_section {
  width: 95vw;
  margin: 15vw auto 15vw;
}
.black_section .fourth_section .text1 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 5vw;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 45%;
  margin: 0 auto 5vw;
}
.black_section .fourth_section .text1 span {
  color: #fdcf09;
}
.black_section .fourth_section .images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 576px) {
  .black_section .fourth_section .images {
    flex-direction: column;
  }
}
.black_section .fourth_section .images img {
  max-width: 25%;
}
@media screen and (max-width: 576px) {
  .black_section .fourth_section .images img {
    max-width: 100%;
    margin-bottom: 5vw;
  }
}
.black_section .fifth_section {
  width: 80vw;
  margin: 0 auto;
}
.black_section .fifth_section .text1 {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 900;
  font-size: 5vw;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 60%;
  margin: 0 auto 5vw;
  text-align: center;
}
.black_section .fifth_section .text1 span {
  color: #fdcf09;
}
.black_section .fifth_section .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 5vw;
  column-gap: 10vw;
}
@media screen and (max-width: 768px) {
  .black_section .fifth_section .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 576px) {
  .black_section .fifth_section .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}
.black_section .fifth_section .grid .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .black_section .fifth_section .grid .card .card-img {
    text-align: center;
  }
}
.black_section .fifth_section .grid .card .card-img img {
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .black_section .fifth_section .grid .card .card-img img {
    max-width: 50%;
  }
}
@media screen and (max-width: 576px) {
  .black_section .fifth_section .grid .card .card-img img {
    max-width: 100%;
  }
}
.black_section .fifth_section .grid .card .card-title {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 1.5vw;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .black_section .fifth_section .grid .card .card-title {
    font-size: 2vw;
  }
}
@media screen and (max-width: 576px) {
  .black_section .fifth_section .grid .card .card-title {
    font-size: 7vw;
  }
}
.black_section .fifth_section .grid .card .card-descrip {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 1.2vw;
  text-transform: uppercase;
  color: #fdcf09;
  text-align: center;
  max-width: 75%;
  margin-top: 1vw;
}
@media screen and (max-width: 768px) {
  .black_section .fifth_section .grid .card .card-descrip {
    font-size: 2vw;
  }
}
@media screen and (max-width: 576px) {
  .black_section .fifth_section .grid .card .card-descrip {
    font-size: 4.5vw;
  }
}

footer {
  padding: 20vw 2vw;
  background-color: #000000;
}
@media screen and (min-width: 992px) {
  footer {
    padding: 10vw 2vw;
  }
}
footer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  footer .section {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer .section picture img {
  max-width: 100%;
}
footer .section .navigation {
  display: flex;
  flex-direction: column;
  margin-top: 10vw;
}
@media screen and (min-width: 700px) {
  footer .section .navigation {
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1200px) {
  footer .section .navigation {
    justify-content: space-around;
  }
}
footer .section .navigation .list {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 6vw;
  color: #ffffff;
  margin-bottom: 10vw;
}
@media screen and (min-width: 700px) {
  footer .section .navigation .list {
    font-size: 3vw;
    margin-right: 10vw;
  }
}
@media screen and (min-width: 1200px) {
  footer .section .navigation .list {
    font-size: 1.5vw;
    margin-right: 0;
  }
}
footer .section .navigation .list .capt {
  color: #fdcf09;
  margin-bottom: 5vw;
}
@media screen and (min-width: 700px) {
  footer .section .navigation .list .capt {
    margin-bottom: 2vw;
  }
}
footer .section .navigation .list p {
  margin-bottom: 3vw;
}
@media screen and (min-width: 700px) {
  footer .section .navigation .list p {
    margin-bottom: 2vw;
  }
}
footer .section .navigation .list p a {
  text-decoration: none;
  color: #ffffff;
}
footer .section .navigation .list p a:hover {
  color: #ffffff;
  animation-name: opacityf;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes opacityf {
  from {
    opacity: 1;
    color: #ffffff;
  }
  to {
    opacity: 0.4;
    color: #fdcf09;
  }
}
footer .section .navigation .list p:last-child {
  margin-bottom: 0;
}
footer .section .navigation .list:last-child {
  margin-right: 0;
}
footer .section .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section .field .ftext {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 5vw;
  text-transform: capitalize;
  color: #ffffff;
  margin-bottom: 5vw;
}
@media screen and (min-width: 1200px) {
  footer .section .field .ftext {
    font-size: 2vw;
    margin-bottom: 3vw;
  }
}
footer .section .field form {
  position: relative;
}
footer .section .field form input {
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 4vw;
  background: #fdcf09;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 2vw 5vw;
}
@media screen and (min-width: 768px) {
  footer .section .field form input {
    border-radius: 70px;
  }
}
@media screen and (min-width: 1200px) {
  footer .section .field form input {
    font-size: 2vw;
    padding: 1vw 2vw;
  }
}
footer .section .field form button {
  position: absolute;
  font-family: "Poppins";
  font-style: "normal";
  font-weight: 300;
  font-size: 4vw;
  background: #000000;
  border-radius: 30px;
  color: #ffffff;
  border: none;
  transform: translate(-109%, 24%);
  padding: 3px 18px;
}
@media screen and (min-width: 1200px) {
  footer .section .field form button {
    transform: translate(-106%, 19%);
    font-size: 2vw;
    padding: 5px 20px;
  }
}
footer .section .field form button:hover {
  color: #ffffff;
  animation-name: opacitybg1;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
@keyframes opacitybg1 {
  from {
    opacity: 1;
    background-color: #000000;
    border-radius: 12px;
    color: #ffffff;
    border-radius: 30px;
  }
  to {
    opacity: 0.4;
    background-color: #ffffff;
    border-radius: 12px;
    color: #000000;
    border-radius: 30px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url(../font/Poppins-Black.ttf);
  src: url(../font/Poppins-Light.ttf);
}
* {
  box-sizing: border-box;
}

body {
  background-color: #fdcf09;
}

.transform1 {
  transform: translateX(5.5vw);
}

.transform2 {
  transform: translateX(6vw);
}

.transform3 {
  transform: translateX(-1vw);
}

/*# sourceMappingURL=style.css.map */
